# Configurações Gerais de Ambiente
TZ=America/Manaus

# URLs e Portas de Simulação
WEB_PANEL_URL=http://localhost:8000/resources/01_SELECAO_FORNECEDORES/web/painel_fornecedores_fake.html
WEB_PANEL_LOCAL_PATH=./resources/01_SELECAO_FORNECEDORES/web/painel_fornecedores_fake.html

# Diretórios e Arquivos de Entrada (Resources)
RESOURCES_DIR=./resources/01_SELECAO_FORNECEDORES
PROPOSTAS_DIR=./resources/01_SELECAO_FORNECEDORES/propostas
CRITERIOS_PATH=./resources/01_SELECAO_FORNECEDORES/criterios_ranking.xlsx
MODELO_RANKING_PATH=./resources/01_SELECAO_FORNECEDORES/modelo_ranking.xlsx

# Diretórios de Saída e Logs
OUTPUT_DIR=./output
OUTPUT_RANKING_PATH=./output/ranking_final.xlsx
LOGS_DIR=./logs
LOG_LEVEL=INFO
